* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #3d405b;
  --primary-color-light: #696e9c;
  --secondary-color: #e07a5f;
  --transition: .6s ease-in;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1rem;
}

i {
  color: var(--secondary-color);
  font-size: 3rem;

  &:hover {
	cursor: pointer;
  }
}

form {
  display: flex;
  justify-content: center;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  gap: 1rem;
  border: 2px solid var(--primary-color);

  transition: var(--transition);

  &.show {
    border: 2px solid var(--secondary-color);

    input {
      max-width: 16rem;
      width: 100%;
    }
  }

  input {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    caret-color: var(--secondary-color);
    color: var(--secondary-color);
    width: 0%;
	transition: var(--transition);

    &::placeholder {
      color: var(--secondary-color);
      opacity: 0.35;
    }

    &::selection {
      background-color: var(--primary-color-light);
    }

    &:focus {
      outline: none;
    }
  }
}
